.QuizList {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  padding-top: 100px;
  background: linear-gradient(90deg, #fd8355 100%, #f0586c 37%, #f79cdb 100%);
}
.QuizList h1 {
  color: #fff;
}
.QuizList ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.QuizList li {
  margin-bottom: 10px;
}
.QuizList a {
  text-decoration: none;
  color: #fff;
}
.QuizList a:hover {
  color: #363f54;
}
